/*Css per lo slider*/

.slider {
    -webkit-appearance:none !important;
    height:5px;
    width: 150px;
    background:#D3D3D3;
    border:none;
    outline:none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance:none !important;
    width:10px;
    height:10px;
    background:black;
    border:none;
    cursor:pointer;
}
.slider::-webkit-slider-thumb:hover {
}

.valoreSlider{
    width: fit-content;
    border: none;
    color: black;
    font-size: 14px;
    font-family: Arial;
    font-weight: 700;
    outline: none;
}

.wrapperSlider{
    width: fit-content;
}